.page-title-inner,.subtitle{
    color: rgb(20, 7, 206);
    text-align: center;
    font-size:xx-large;

}
.page-title-wrap{
    box-sizing: border-box;
    width: 100%;
}
.subtitle{
    color: rgb(90, 146, 196);
    text-align: center;
    font-size: larger;
} 
section{

}