<!-- <p>contact works!</p> -->
<!-- <app-contact></app-contact> -->

<section>
    <form><div class="content-header-inner-wrap">
        <div class="page-title-wrap">
            <div class="page-title">
                <h1 class="page-title-inner">Contact Us</h1>
                <p class="subtitle">Interested in our IT services or need advice? 
                    <br>Then please get in touch and we’ll be glad to help.</p>
            </div>
        </div><br>
        <mat-form-field>
            Full Name:
            <input type="text" matInput placeholder="Enter your name">
        </mat-form-field><br>
        <mat-form-field>Organization Name:
            <input type="text" matInput placeholder="Enter your organization name">
        </mat-form-field>
        </div>
    </form>
</section>